.form_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.form_control{
    display: flex;
    flex-direction: column;
}

.form_control_dates{
    justify-content: center;
}